body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;    
}
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --white-color: #F9F9F9;
    --gray-light: #E9EAEB;
    --gray-dark: #525B60;
    --black-prim: #283339;
    --top-nav-color: #303798;
    --sidenav-color: #3A42B7;
    --sidenav-hover: #303798;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --header-height: 40px;
}
.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #303798;    
    padding: 0 .5rem;
    height: var(--header-height);
}
.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
}

.menu-icon {
    fill: var(--white-color);    
    width: 25px;
    height: 25px;
    cursor: pointer;      
}

.menu-icon:hover {
    fill: var(--gray-dark);
}

.logo {
    margin-left: 30px;
}

.logo h2 {
    color: #FFFFFF;
}

.sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 75px;        
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
    background: var(--sidenav-color);
}

.sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);    
}

.sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile-img {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--animation-duration) var(--animation-timing-curve);    
}

.sidebar.open .profile-img {
    width: 90px;
    height: 90px;
}

.sidebar .profile-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;     
}

.mid-sidebar {
    flex-grow: 1;
    overflow-y: auto; 
    overflow-x: hidden;
    margin: 1rem 0;   
}

.mid-sidebar, .bottom-sidebar {
    width: 100%;
}

.container {
    display: flex;
    background-color: var(--gray-light);      
}

.content {
    margin: 1rem;        
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar.open .sidebar-link {
    justify-content: flex-start;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-link {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    color: var(--white-color);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
}

.sidebar-list-item {
    position: relative;
    width: 100%;
    fill: var(--gray-light);
}
.sidebar-list-item.active {
    fill: var(--white-color);
    background-color: var(--sidenav-hover);
}

.sidebar-list-item:hover {
    background-color: var(--white-color);
    transition: 300ms ease-in-out;
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--sidenav-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
}

.sidebar.open {
    width: 200px;
}

.agents-name {
    color: var(--white-color);
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .15rem;
    margin-top: .5rem;
}

.agents-position {
    color: var(--gray-light);
    font-size: .75rem;
}

.sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}

/*Inputs*/

.container .avail-map {    
    position: absolute;
    width: 636px;
    height: 352px;
    left: 652px;
    top: 160px;
    border: 2px solid red;
    border-radius: 10px;   
    background-color: var(--white-color);    
}

.avail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    width: 458px;
    margin-bottom: 50px;
}

.date-inputs label {
    margin-bottom: 5px;
}

.date-inputs input {
    font-size: 18px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.cruise-inputs {
    display: flex;
    width: 458px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cruise-type {
    display: flex;
    flex-direction: column;
}

.cabine-type {
    display: flex;
    flex-direction: column;
}

.avail-btn {
    width: 458px;
    cursor: pointer;
    background-color: #5058C8;
    height: 54px;
    border-radius: 4px;
}
/*{coding is life}*/ 